<h1 style="color:blue;">Ingresar al sistema</h1>
<br>


<form action="/ingresar" method="post" >
    <input type="text" class="my-2" id="text" placeholder="text"  required> <br>
    <button>Ingresar</button>
  </form>